<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tonyspring.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board">
	      SELECT         b_id as bId,
		                 b_title as bTitle,
		                 b_content as bContent,
		                 b_writer as bWriter,
		                 b_datetime as bDateTime 
	      FROM           tn_board
	      ORDER BY		 b_group DESC, b_order ASC
	      LIMIT			 #{pageNum}, #{perPage}
	 </select>
	 
	<insert id="createBoard" parameterType="Board">
			INSERT INTO tn_board (
			b_title,
			b_content,
			b_writer
			) VALUES (
			#{bTitle}, 
			#{bContent}, 
			#{bWriter} 
			) 
	</insert>
	 
	 <update id="updateBoard" parameterType="Board">
			UPDATE tn_board 
			SET b_group = LAST_INSERT_ID()  
			WHERE b_id = LAST_INSERT_ID()	
	 </update>
	 
	 <select id="getBoard" resultType="Board">
	 	SELECT		b_id as bId,
	                b_title as bTitle,
	                b_content as bContent,
	                b_writer as bWriter,
	                b_datetime as bDateTime, 
	                b_group as bGroup, 
	                b_order as bOrder,
	                b_depth as bDepth 
	 	FROM		tn_board
	 	WHERE		b_id = #{bId}
	 </select>
	 
	 <update id="editBoard" parameterType="Board">
	 	UPDATE		tn_board 
	 	SET			b_title = #{bTitle},
	 				b_content = #{bContent} 
	 	WHERE		b_id = #{bId}
	 </update>
	 
	 <delete id="deleteBoard" parameterType="Board">
	 	DELETE		
	 	FROM		tn_board 
	 	WHERE		b_id = #{bId} 
	 </delete>
	 
	 <insert id="createReboard" parameterType="Board">
	 	INSERT INTO		tn_board (
	 	b_title, 
	 	b_content, 
	 	b_writer, 
	 	b_group, 
	 	b_order, 
	 	b_depth 
	 	) VALUES (
	 	#{bTitle}, 
	 	#{bContent},
	 	#{bWriter}, 
	 	#{bGroup},
	 	#{bOrder},
	 	#{bDepth} + 1
	 	);
	 	
 		
	 	
	 </insert>
	 
	 <update id="updateReboard" parameterType="Board">
	 	<selectKey keyProperty="bId" keyColumn="b_id" resultType="Integer">
   		     SELECT LAST_INSERT_ID()
   		</selectKey>
	 
			 	UPDATE		tn_board 
	 			SET			b_order = b_order + 1 
	 			WHERE		b_order >= #{bOrder}
	 						AND b_id != #{bId}  
	 						AND b_group = #{bGroup}
	 </update>
	 
	 <select id="searchBoard" resultType="Board">
	 	SELECT		b_id as bId,
	                b_title as bTitle,
	                b_content as bContent,
	                b_writer as bWriter,
	                b_datetime as bDateTime
	 	FROM		tn_board
	 	<choose>
	 		<when test="category != null and category.equals('title')">
				WHERE	b_title	LIKE CONCAT('%', #{keyword}, '%')			
	 		</when>
	 		<when test="category != null and category.equals('content')">
				WHERE	b_content	LIKE CONCAT('%', #{keyword}, '%')			
	 		</when>
	 		<when test="category != null and category.equals('both')">
				WHERE	b_content	LIKE CONCAT('%', #{keyword}, '%') 
						OR b_title	LIKE CONCAT('%', #{keyword}, '%') 			
	 		</when>
	 		<when test="category != null and category.equals('writer')">
				WHERE	b_writer = #{keyword}			
	 		</when>
	 	</choose>
	 	ORDER BY		 b_group DESC, b_order ASC
	 </select>
	 
	 <select id="countBoards" resultType="Integer">
	 	SELECT		count(*) count
	 	FROM 		tn_board
	 </select>
</mapper>




