<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tonyspring.example.mapper.CommentMapper">
	<insert id="createComment" parameterType="Comment">
		INSERT INTO tn_comment (
		c_content,
		c_writer,
		b_id
		)
		VALUES (
		#{c_content},
		#{c_writer},
		#{b_id}
		)
		
		<selectKey keyProperty="c_id" resultType="Integer" order="AFTER">
   		     SELECT LAST_INSERT_ID()
   		</selectKey>
	</insert>
	<update id="updateComment" parameterType="Comment">
		UPDATE		tn_Comment
		SET			c_group = c_id
		WHERE		c_id = #{c_id}
	</update>
	
	<select id="readComments">
		SELECT		tn_comment.*
		FROM		tn_comment
		WHERE		b_id = #{b_id}
		ORDER BY	c_group, c_order ASC
	</select>
	
	<select id="readComment" >
		SELECT		tn_comment.*
		FROM		tn_comment
		WHERE		c_id = #{c_id}
	</select>
	
	<delete id="deleteComment">
		DELETE		tn_comment.*
		FROM		tn_comment
		WHERE		c_id = #{c_id}
	</delete>
	
	<insert id="createRecomment">
		INSERT INTO tn_comment (
		c_content,
		c_writer,
		c_group,
		b_id,
		c_order,
		c_depth
		) VALUES (
		#{c_content},
		#{c_writer},
		#{c_group},
		#{b_id},
		#{c_order},
		#{c_depth} + 1
		)
	</insert>
	
	<update id="updateRecomment">
		<selectKey keyProperty="c_id" keyColumn="c_id" resultType="Integer">
			SELECT	LAST_INSERT_ID()
		</selectKey>
		UPDATE		tn_comment
		SET			c_order = c_order + 1
		WHERE		c_order >= #{c_order}
					AND	c_id != #{c_id}
					AND c_group = #{c_group}
	</update>
	
	<update id="editComment">
		UPDATE		tn_comment
		SET			c_content = #{c_content}
		WHERE		c_id = #{c_id}		
	</update>
</mapper>